body{
    background: #F4F4F4 !important;
    overflow-x: hidden;
    font-family: 'Poppins', serif !important;
}

/* Default settings */
ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0 !important;
}

input {
    outline: none !important;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.column{
    flex-direction: column;
}

.noHover:hover{
    color: white;
}

.title{
    color: white;
    width: 100%;
    display: block;
    background-color: #316BB5;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
}

/* Header section */
header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #316BB5;
}
.header{
    padding: 8px 16px;
}
.header-menu .header-menu_item{
    margin: 0 30px;
}
.header-menu .header-menu_item a{
    color: white;
    padding-bottom: 6px;
    transition: .3s ease-in-out;
    border-bottom: 2px solid transparent;
}
.header-menu .header-menu_item a:hover{
    border-bottom: 2px solid white;
}

/* Main */
.main{
    grid-gap: 16px;
    margin: 112px 0;
}
.main .main-center_side{
    flex-grow: 4;
    padding: 7px 16px;
    background-color: white;
}

/* Main section > Left side */
.main-left_banner{
    margin-bottom: 24px;
}
.main-left_partners{
    width: 100%;
    height: 100%;
    padding: 5px 0;
    margin-bottom: 14px;
}
.main-left_partners .title{
    margin-bottom: 14px;
}
.main-left_partners-all{
    border-radius: 3px;
    height: 100%;
    background-color: white;
}

/* Main section > Center */
.text-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 34.06px;
    padding-bottom: 7px;
}
.text{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

/*  Main section > Right side */
.main-right_side img{
    margin-bottom: 16px;
}
.main-right_side ul li{
    margin-bottom: 7px;
}
.main-right_side ul li a{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-radius: 3px;
    background-color: #fff;
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 400;
    transition: .4s;
}
.main-right_side ul li a:hover{
    background-color: #eaeaea;
}

/* Main section > Left side */

.main-left_banner{
    margin-bottom: 24px;
}
.main-left_partners{
    width: 100%;
    padding: 5px 0;
    margin-bottom: 14px;
}
.main-left_partners .title{
    margin-bottom: 14px;
}
.main-left_partners-all{
    border-radius: 3px;
    background-color: white;
}

/* Main section center side */
.main-center_side-img{
    float: right;
    padding: 16px;
    margin-top: 32px;
}
.main-center_side-img img{
    
    width: 120px;
    height: 138px;
    object-fit: cover;
}

/* Archive detail */
.open-access{
    display: inline-block;
    padding: 5px 8px;
    background-color: #11417e;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}
.article{
    display: inline-block;
    padding: 5px 8px;
    background-color: #9f1326;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    margin-left: 11px;
}

/* Footer section */
footer{
    width: 100%;
    background-color: #0C2E58;
    padding-top: 33px;
    padding-bottom: 14px;
}

.footer-links li{
    margin-bottom: 17px;
}
.footer-links li a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
.footer-links li a span{
    margin-left: 15px;
}
.footer-links li p{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
.footer-links li p i{
    font-size: 22px;
}
.footer-links svg{
    width: 17px;
}
.footer-links li p span{
    margin-left: 15px;
}
.footer-links i{
    color: #fff;
}
.footer-map{
    width: 343px;
}
.footer-map li h3{
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 6px;
}
.footer-map li iframe{
    height: 97px;
    width: 100%;
}
.footer-foot{
    width: 100%;
    padding-top:7px ;
    border-top: 0.5px solid #fff;
}
.footer-foot h3{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
