body{
    background: #F4F4F4 !important;
    overflow-x: hidden;
    font-family: 'Poppins', serif !important;
}

/* Default settings */
ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    list-style: none;
}

a {
    text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0 !important;
}

input {
    outline: none !important;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}

.column{
    flex-direction: column;
}

.noHover:hover{
    color: white;
}

.title{
    color: white;
    width: 100%;
    display: block;
    background-color: #316BB5;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
}
.color-black{
    font-weight: 500;
    color: #000;
}
/* Header section */
header{
    z-index: 12;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #316BB5;
}
header .container{
    padding: 0;
}
.header{
    position: relative;
    padding: 8px 16px;
}
.header-menu{
    transition: .3s ease-in-out;
}
.header-menu .header-menu_item{
    margin-right: 50px;
}
.header-menu .header-menu_item:last-child{
    margin-right: 0;
}
.header-menu .header-menu_item a{
    color: white;
    padding-bottom: 6px;
    transition: .3s ease-in-out;
    border-bottom: 2px solid transparent;
}
.header-menu .header-menu_item a:hover{
    border-bottom: 2px solid white;
}
.mobile-bar{
    display: none;
}
.displayMobile{
    transition: .3s ease-in-out;
    left: 0% !important;
}
.active-page{
    border-bottom: 2px solid white !important;
}

/* Main */
.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px,1fr));
    grid-gap: 16px;
    margin: 112px 0;
}
.main .main-center_side{
    grid-column: span 3;
    padding: 7px 16px;
    background-color: white;
}
.right-sticky{
    position: sticky;
    top: 0;
}

/* Main section > Left side */
.main-left_banner{
    margin-bottom: 24px;
}
.main-left_partners{
    width: 100%;
    height: 100%;
    padding: 5px 0;
    margin-bottom: 14px;
}
.main-left_partners .title{
    margin-bottom: 14px;
}
.main-left_partners-all{
    border-radius: 3px;
    height: 100%;
    background-color: white;
}

/* Main section > Center */
.text-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 34.06px;
    padding-bottom: 7px;
}
.text{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}

/* Form page */
.form{
    display: grid;
    padding: 17px 0;
    row-gap: 40px;
    column-gap: 28px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}
.form-field .form-field_label{
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    color: #797979;
    padding-bottom: 4px;
}
.form-field .form-field_input{
    padding: 6px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #C9C9C9
}
.textarea-field,.detail-field{
    grid-column: span 2;
}
.textarea-field textarea{
    resize: none;
    outline: none;
}
.detail-flex{
    padding: 17px 25px;
    border-radius: 3px;
    border: 1px solid #C9C9C9;
}
.detail-row{
    width: 100%;
    margin-right: 20px;
}
.detail-row input{
    width: 100% ;
}
.form-confirm{
    width: 144px;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    border: none;
    color: white;
    padding: 12px 38px;
    border-radius: 3px;
    background-color: #C9C9C9;
}

/* Archives */
.sort{
    margin: 35px 0 0 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5px;
}
.sort p{
    font-weight: 500;
}
.sort span{
    cursor: pointer;
    font-weight: 300;
    padding-left: 2px;
    text-decoration: underline;
}
.archive{
    padding-bottom: 15px;
    border-top: 0.5px solid #98DEF8;
}
.archive .archive-link{
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    color: #316BB5;
}
.archive-date{
    padding: 2px 0 5px 0;
}
.archive-date p{
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 2px;
}
.archive-authors p{
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.archive-doi{
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    transition: .2s ease-in-out;
    text-decoration: underline !important;
}
.archive-doi:hover{
    color: #316BB5;
}

/* Editors */
.editors{
    padding: 24px 0;
}
.editor{
    margin-bottom: 32px;
}
.text-gr{
    color: #A0A0A0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: justified;
}
.editor-position{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
}
.editor-person{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: justified;
}
.editor-person span{
    padding-left: 2px;
}
/* Members section */
.small-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
}
.members{
    display: grid;
    padding-top: 5px;
    column-gap: 120px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}
.member{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

/* Editorial address */
.editorial-address{
    padding: 53px 0 0 0;
}
.editorial-address .address{
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
}
.contact-address{
    padding: 14px 0;
}
.contact-address a{
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: justified;
    margin-bottom: 4px;
}
.contact-address a span{
    padding-right: 6px;
}


/*  Main section > Right side */
.main-right_side img{
    margin-bottom: 16px;
}
.main-right_side ul{
    max-height: 300px;
    overflow-y: scroll;
}
.main-right_side ul::-webkit-scrollbar{
    background-color: #efefef;
    width: 4px;
}
.main-right_side ul::-webkit-scrollbar-thumb{
    background-color: #316bb5;
}
.main-right_side ul li{
    margin-bottom: 7px;
}
.main-right_side ul li a{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 7px 0;
    border-radius: 3px;
    background-color: #fff;
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 400;
    transition: .4s;
}
.main-right_side ul li a:hover{
    background-color: #eaeaea;
}

/* Main section > Left side */

.main-left_banner{
    margin-bottom: 24px;
}
.main-left_partners{
    width: 100%;
    padding: 5px 0;
    margin-bottom: 14px;
}
.main-left_partners-all{
    padding: 8px;
}
.main-left_partners .title{
    margin-bottom: 14px;
}
.main-left_partners-all{
    border-radius: 3px;
    background-color: white;
}

/* Main section center side */
.main-center_side-img{
    float: right;
    padding: 16px;
    margin-top: 32px;
}
.main-center_side-img img{
    
    width: 120px;
    height: 138px;
    object-fit: cover;
}

/* Archive detail */
.open-access{
    display: inline-block;
    padding: 5px 8px;
    background-color: #11417e;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}
.article{
    display: inline-block;
    padding: 5px 8px;
    background-color: #9f1326;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    margin-left: 11px;
}
.archive-detail_authors{
    margin-top: 12px;
}
.archive-detail_authors li:first-child{
    margin: 0;
}
.archive-detail_authors li{
    margin-left: 13px;
}
.archive-detail_authors li h2{
    font-size: 12px;
    font-weight: 400;
    color: #000;
}
.archive-detail_authors li a{
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #2474a2;
    padding-right: 35px;
    position: relative;
}
.archive-detail_authors li a .author-icons{
    position: absolute;
    right: 0;
    top: -10px;
}
.article-info{
    margin: 20px 0;
}
.article-info .article-info_btn{
    display: inline-block;
    background-color: #316BB5;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-top: 6px;
}
.article-info .article-info_btn:nth-of-type(2){
    margin-left: 16px;
}
.article-abstract{
    margin: 30px 0;
}
.article-abstract h2{
    font-size: 24px;
    font-weight: 500;
    color: #18539d;
    margin-bottom: 10px;
}
.article-abstract p{
    font-size: 14px;
    font-weight: 300;
    color: #000;
}
.article-tags{
    margin-top: 19px;
}
.article-tags li:first-child{
    margin: 0;
}
.article-tags li{
    margin-left: 12px;
}
.article-tags li a{
    display: inline-block;
    background-color: #d4ecf5;
    padding: 4px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    border-radius: 3px;
}
.swiper-button-next::after{
    display: none;
}
.swiper-button-prev::after{
    display: none;
}
.article-statistics_head{
    font-size: 14px;
    font-weight: 300;
}
.article-statistics_source{
    font-size: 14px;
    font-weight: 300;
}

.archive-detail-pagination{
    margin-top: 25px !important;
}
.archive-detail-pagination a{
    padding: 0 8px;
    font-size: 12px;
    font-weight: 300;
    color: #000;
}
.archive-detail-pagination a:last-child{
    border-left: 1px solid rgba(0, 0, 0, 0.253) ;
}


/* Editorial board */
.editorial-board h3{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.associate-editor{
    margin: 40px 0; 
}
.editorial-board-info{
    column-gap: 30px;
}
.editorial-board-info ul li{
    margin-bottom: 10px;
}
.editorial-board-info p{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #000;
}
.editorial-board-info p span{
    font-weight: 700;
    font-style: normal;
}
.technical-editor{
    margin: 40px 0;
}
.contact-address{
    margin: 40px 0;
}

/* Footer section */
footer{
    width: 100%;
    background-color: #0C2E58;
    padding-top: 33px;
    padding-bottom: 14px;
}

.footer-links li{
    margin-bottom: 17px;
}
.footer-links li a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
.footer-links li a span{
    margin-left: 15px;
}
.footer-links li p{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
.footer-links li p i{
    font-size: 22px;
}
.footer-links svg{
    width: 17px;
}
.footer-links li p span{
    margin-left: 15px;
}
.footer-links i{
    color: #fff;
}
.footer-map{
    width: 343px;
}
.footer-map li h3{
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 6px;
}
.footer-map li iframe{
    height: 97px;
    width: 100%;
}
.footer-foot{
    width: 100%;
    padding-top:7px ;
    border-top: 0.5px solid #fff;
}
.footer-foot h3{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
/* Media queries */
@media (max-width: 768px){
    .main{
        display: flex;
        flex-direction: column !important;
    }
    .main-left_side{
        order: 2;
    }
    .form{
        display: flex;
        flex-direction: column;
    }
    .detail-flex{
        flex-direction: column;
    }
    .form-confirm{
        width: 100%;
    }
    .header-menu{
        position: absolute;
        top: 100%;
        left: -1000%;
        height: 100vh;
        z-index: 2;
        width: 100%;
        background-color: #316bb5;
        padding: 50px 16px !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
    }
    .header-menu_item{
        margin-bottom: 30px;
        margin-right: 0 !important;
    }
    .active-page{
        border-bottom: none !important;
    }
    .mobile-bar{
        color: white;
        display: block;
    }
    .archive-detail_authors {
        flex-direction: column;
    }
    .archive-detail_authors  li{
        margin-left: 0;
    }
    .article-tags{
        flex-direction: column;
    }
    .article-tags li:first-child{
        margin-bottom: 10px !important;
    }
    .article-tags li{
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .article-tags li a{
        width: 100%;
        text-align: center;
    }
    .text-title{
        font-size: 20px;
    }
    .home-content{
        display: flex;
        flex-direction: column;
    }
    .home-content .main-center_side-img{
        order: 2;
        margin-top: 20px;
    }
    .home-content .main-center_side-img img{
        width: 100%;
        
        height: 100%;
    }
    .main-right_side img{
        display: none;
    }
    .main-left_side{
        display: none;
    }
}
@media (max-width: 475px){
    .editor{
        align-items: flex-start;
        flex-direction: column;
    }
}
.main{
    flex-direction: column;
}

.article-statistics_image img{
    width: 100%0;
}
.archive-detail_links{
    margin-bottom: 20px;
}
.main-right_side li a.active{
    border: 2px solid #dbdada;
    font-weight: 700;
}
.main-left_banner{
    width: 100%;
}
.main-left_banner img{
    width: 100%;
}
.main-right_side img{
    width: 100%;
}